html, body {
    background: linear-gradient(to right, aqua, rgb(255, 190, 10));
}

.custom-link {
    text-decoration: none;
    color: rgb(255, 190, 10);
}

.custom-link:hover {
    text-decoration: none;
    color: aqua;
}

.navbar-bg {
    background-image: 
    linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgb(60, 60, 60, 100)), 
    url("assets/img/fondo-hiperespacial.avif");
    background-size: cover;     /* Que cubra todo el espacio */
    background-position: top;
    background-repeat: no-repeat;
}

.nav-color {
    background-color: transparent;
    color: rgb(255, 190, 10);
}


.main-body-color {
    background-color: rgb(60, 60, 60);
    color: rgb(255, 190, 10);
}

.container-cards {
    color: rgb(60, 60, 60) ;
}

.btn-favorite-list {
    background-color: rgb(60, 60, 60);
    color: white;
}

.card {
    background-color: rgb(60, 60, 60);
    color: white;
    border-color: white;
}

.fa-heart {
    color: rgb(255, 190, 10);
    font-size: 20px;
}

.attributes {
    color: rgb(255, 190, 10);
}

.card-image {
    transform: scale(0.8);
}

.footer{
    background-image: 
    linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgb(60, 60, 60, 100)), 
    url("assets/img/fondo-hiperespacial.avif");
    background-size: cover;     /* Que cubra todo el espacio */
    background-position: bottom;
    background-repeat: no-repeat;
  }